/* EDIT IMG LOGO ARRIBA */
.LogoArriba{
    width:50%;
    text-align:center;
    margin: 0 auto;
    transform: translateY(0px);
}
/* EDIT FixedMenu */
.fixedMenu{
    display:inline-block;
    padding-top:1%;
    padding-bottom:-30px;
    width: 100%;
    height: 60px;
    background-color: white;
    border-top: 1px solid black; border-bottom:1px solid black;
    position: fixed;
    margin-top: 30px;
    text-align:center;
    padding-left:36%;
}
.fixedMenu ul {
    list-style: none;
    margin: 10px 4px;
    padding: 0;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: inline-block;
}
.fixedMenu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family:Helvetica;
    font-weight:bold;
    text-align: center;
    margin: 0 20px;


  }
.fixedMenu a:hover{
    color: #7ABA96;
    text-decoration: none;
    font-size: 20px;
    font-family:Helvetica;
    font-weight:bold;
    text-align: center;

    margin: 0 5px;
}

/* EDIT BOX SobreMi */
.SobreMi{
    position: left;
    margin-left: 130px; margin-top: 150px;
    overflow:auto;
}
/* EDIT IMG SobreMi */
.SobreMi img{
    position:left;
    width:6%;
    margin-left:33px;
}
/* EDIT TXT ARRIBA SobreMi */
.SobreMi h3{
    font-family:arial;
    font-size:18px;
    position:left;
    align-items:center;
    text-align:center;
    width:200px;
}
/* EDIT TXT ABAJO SobreMi */
.SobreMi h6{
    font-family:arial;
    font-size:12px;
    position:left;
    align-items:center;
    text-align:center;
    width:200px;
}
/* EDIT BOX Suscribete */
.Suscribete{
    width: 300px;
    height: 500px;
    position: left;
    margin-left: 90px; margin-top: 10px;
    overflow:auto;
    background-color:#DEDEDE;
    overflow:hidden;
}
.Suscribete h3{
    font-family:arial;
    font-size:18px;
    position:left;
    align-items:center;
    text-align:center;
    margin-left: 40px;
    width:200px;

}
.Suscribete img{
    position:center;
    width:70%;
    margin-left:50px;
}
.Suscribete h6{
    font-family:arial;
    font-size:12px;
    position:center;
    align-items:center;
    text-align:center;
    width:100%;
    margin-left:0px;
    padding-right:5px;
}
.apButton{
  background-color: #4CAF50;
  border: none;
  color: solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width:100%
}
/* EDIT BOX PastaCon */
.Plato1{
    width: 700px;
    height: 630px;
    border-color:1px solid black;
    position:absolute;
    top:25%;
    left: 30%;

}
.Plato1 img{
    position:center;
    width:100%;
    height:60%;
    border-radius:50px;

}
.Plato1 h3{
    font-family:arial;
    font-size:20px;
    text-align:center;

}